{% extends "base.html" %}
{% block title %}Page Not Found - {% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/smoke.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.1/purify.min.js"></script>
</head>
<body>
    <div class="headerBackground"></div>
    <div class="errorCover">
        <div id="loading" class="errorWheel">
            <img src="../static/loaders/wheel.webp" alt="Loading" class="loader"/>
        </div> 
        <div class="pageTitle">
            <h1>Oops!</h1>
        </div>
        <div class="ground"></div>
    </div>
    <div class="errorPage">
        <p>Looks like this car took a wrong turn. Try navigating back to the <a href="/home">homepage</a>.</p>
    </div>
    <div class="contactUs">
        <h1 class="sectionTitle">Contact Us</h1>
        <p>If the problem persists, feel free to contact us and let us know!</p>

        <form action="{% url 'home' %}" method="post" onsubmit="showLoading()" id="contact" autocomplete="on">
            {% csrf_token %}
            <div class="formCon">
                <div class="nameEmail">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required placeholder="Raider Red" class="inputs" maxlength="100" oninput="sanitizeInput(this);">
            
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required placeholder="formula.sae@ttu.edu" class="inputs" maxlength="50" oninput="sanitizeInput(this);">

                    <label for="subject">Subject:</label>
                    <input type="text" id="subject" name="subject" required placeholder="This page broke!" class="inputs" maxlength="100" oninput="sanitizeInput(this);">
                </div>
                <div class="emailMessage">          
                    <label for="message">Message:</label>
                    <textarea id="message" name="message" rows="8" maxlength="1500" required class="inputs" oninput="sanitizeInput(this); updateCharacterCount();"></textarea>
                    <div id="character-count">Characters remaining: 1500</div>
                </div>
            </div>
            <div class="submitArea">
                <input type="submit" value="Submit" class="submit">
                <div id="message-container">
                    <div class="message" id="sent">
                        <h4>Thanks for letting us know!</h4>
                    </div>
                    <div class="message" id="fail">
                        <h4>There was a problem sending your message.</h4>
                    </div>
                </div>                
                <div id="loading">
                    <img src="../static/loaders/wheel.png" alt="Loading" class="loader"/>
                </div>   
            </div>
        </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.1/purify.min.js" defer></script>
</body>

{% endblock %}