{% extends "base.html" %}
{% block title %}Server Error - {% endblock %}
{% block content %}
<head>
    <link rel="canonical" href="https://www.redraiderracing.com/"/>
</head>
<body>
    <div class="pageTitle">
        <h1>Internal Server Error!</h1>
        <p>Something went wrong.</p>
    </div>
    <div class="body" style="max-width: 800px; margin: 0 auto;">
        <p style="font-family: var(--font);">Sorry for any inconvenience, the website is still fairly new and we are still working out some kinks. The error you produced will help the overall integrity of the website. </p>
    </div>
</body>

{% endblock %}