{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/script.js' %}"></script>  
        <title>{% block title %}{% endblock %}Red Raider Racing</title>
    </head>
    <body>
        <header id="mainHeader">
            <div class="logo">
                <a href=""><div class="logo-image"></div></a>
            </div>
            <nav>
                <a href="/home"><button>Home</button></a>
                <a href="/team"><button>Team</button></a>
                <a href="/cars"><button>Cars</button></a>
                <a href="/sponsors"><button>Sponsors</button></a>
                <a href="/car-show"><button>Car Show</button></a>
                <a href="/faq"><button>FAQ</button></a>
            </nav>
        </header>
        
        <main class="main">
            {% block content %}{% endblock %}
        </main>

        <footer>
            <div class="rights">
                <p class="footerText">Copyright © 2023 by Red Raider Racing Formula SAE Team. All rights reserved.</p>
            </div>
        </footer>
    </body>
</html>