{% extends "base.html" %}
{% block title %}Car Show - {% endblock %}
{% block content %}
<script>
    const active = document.getElementById('carShwBtn');
    const active1 = document.getElementById('carShwBtn1');
    active.classList.add("active");
    active1.classList.add("active");
</script>
<body>
    <div class="coverIMG teamIMG">
        <div class="pageTitle">
            <h1 class="teamTitle">Annual Car Show</h1>
        </div>
    </div>
    <svg class="wave waveTop" id="wave" width="100%" height="200" viewBox="0 0 1440 390" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(8, 8, 8, 1)" offset="0%"></stop><stop stop-color="rgba(8, 8, 8, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,117L720,234L1440,117L2160,351L2880,156L3600,234L4320,312L5040,78L5760,39L6480,234L7200,39L7920,351L8640,195L9360,78L10080,234L10800,156L11520,0L12240,0L12960,234L13680,117L14400,117L15120,0L15840,156L16560,351L17280,234L17280,390L16560,390L15840,390L15120,390L14400,390L13680,390L12960,390L12240,390L11520,390L10800,390L10080,390L9360,390L8640,390L7920,390L7200,390L6480,390L5760,390L5040,390L4320,390L3600,390L2880,390L2160,390L1440,390L720,390L0,390Z"></path></svg>
    <svg class="wave waveBottom" id="wave" width="100%" height="200" viewBox="0 0 1440 390" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(8, 8, 8, 1)" offset="0%"></stop><stop stop-color="rgba(8, 8, 8, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,117L720,234L1440,117L2160,351L2880,156L3600,234L4320,312L5040,78L5760,39L6480,234L7200,39L7920,351L8640,195L9360,78L10080,234L10800,156L11520,0L12240,0L12960,234L13680,117L14400,117L15120,0L15840,156L16560,351L17280,234L17280,390L16560,390L15840,390L15120,390L14400,390L13680,390L12960,390L12240,390L11520,390L10800,390L10080,390L9360,390L8640,390L7920,390L7200,390L6480,390L5760,390L5040,390L4320,390L3600,390L2880,390L2160,390L1440,390L720,390L0,390Z"></path></svg>
    <div class="body">
        <div class="heading">
            <div class="aboutCarShow">
                <h1>About <br>the Car Show</h1>
                <hr class="underline">
                <p>Building a car every year is a challenge for us students, 
                    as we are always looking for ways to innovate our designs. 
                    With your help and support, we can purchase breakthrough 
                    components for the team, making our car more performant 
                    for the Competition in May.</p>
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2377.8731890988743!2d-101.87766133208562!3d33.59062750612974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86fe12ba9c7769f5%3A0x5ef4d8ce186d24aa!2sLot%20C1%2C%20Lubbock%2C%20TX%2079409!5e0!3m2!1sen!2sus!4v1698073666725!5m2!1sen!2sus" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="contactUs" id="contact-us">
            <h1 class="sectionTitle">Register</h1>
    
            <form action="{% url 'home' %}" method="post" onsubmit="showLoading()" id="contact" autocomplete="on">
                <!-- CSRF token needed to protect agained cross site attacks -->
                {% csrf_token %} 
                <div class="formCon">
                    <div class="nameEmail">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="name" required placeholder="Raider Red" class="inputs" maxlength="100" oninput="sanitizeInput(this);" autocomplete="name">
                
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required placeholder="formula.sae@ttu.edu" class="inputs" maxlength="50" oninput="sanitizeInput(this);" autocomplete="email">
    
                        <label for="subject">Subject:</label>
                        <input type="text" id="subject" name="subject" required placeholder="I'm looking to join!" class="inputs" maxlength="100" oninput="sanitizeInput(this);">
                    </div>
                    <div class="emailMessage">          
                        <label for="message">Message:</label>
                        <textarea id="message" name="message" rows="8" maxlength="1500" required class="inputs" oninput="sanitizeInput(this); updateCharacterCount();"></textarea>
                        <div id="character-count">Characters remaining: 1500</div>
                    </div>
                </div>
                <div class="submitArea">
                    <input type="submit" value="Submit" class="submit">
                    <div id="message-container">
                        <div class="message" id="sent">
                            <h4>Your message was sent successfully.</h4>
                        </div>
                        <div class="message" id="fail">
                            <h4>There was a problem sending your message.</h4>
                        </div>
                    </div>                
                    <div id="loading">
                        <img src="../static/loaders/wheel.webp" alt="Loading" class="loader"/>
                    </div>   
                </div>
            </form>
        </div>
    </div>
</body>

{% endblock %}