{% extends "base.html" %}
{% block title %}Our Cars - {% endblock %}
{% block content %}
<head>

</head>
<script>
    const active = document.getElementById('carsBtn');
    active.classList.add("active");
</script>
<body>
    <div class="coverIMG carsIMG">
        <div class="pageTitle">
            <h1 class="teamTitle">Our Cars</h1>
        </div>
    </div>
    <div class="body">
        <div class="cars">
            <div class="car">
                <h1 class="carTitle">RRR-2023</h1>
                <div class="carIMG car2023">
                </div>
                <div class="specs">
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Chassis:</h3>
                        <p>Chromoly 4130 Steel Space-Frame</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Power Unit:</h3>
                        <p>Yamaha YFZ 450r</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Weight:</h3>
                        <p>400 lbs</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Main Achievement:</h3>
                        <p>Participation in all dynamic events</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Competition Placement:</h3>
                        <p>94/120</p>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="car">
                <h1 class="carTitle">RRR-2022</h1>
                <div class="carIMG"></div>
                <div class="specs">
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Chassis:</h3>
                        <p>Chromoly 4130 Steel Space-Frame</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Power Unit:</h3>
                        <p>Yamaha YFZ 450r</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Weight:</h3>
                        <p>407 lbs</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Main Achievement:</h3>
                        <p>Successful comeback after the difficult COVID-19 Pandemic.</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Competition Placement:</h3>
                        <p>81/89 (Points awarded for Static Event, no participation in dynamic events)</p>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="car">
                <h1 class="carTitle">RRR-2019</h1>
                <div class="carIMG"></div>
                <div class="specs">
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Chassis:</h3>
                        <p>Chromoly 4130 Steel Space-Frame</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Power Unit:</h3>
                        <p>Yamaha YFZ 450r</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Weight:</h3>
                        <p>375 lbs</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Main Achievement:</h3>
                        <p>N/A</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Competition Placement:</h3>
                        <p>96/108</p>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="car">
                <h1 class="carTitle">RRR-2018</h1>
                <div class="carIMG"></div>
                <div class="specs">
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Chassis:</h3>
                        <p>Chromoly 4130 Steel Space-Frame</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Power Unit:</h3>
                        <p>KTM 690 Gen III</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Weight:</h3>
                        <p>N/A</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Main Achievement:</h3>
                        <p>N/A</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Competition Placement:</h3>
                        <p>99/114</p>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="car">
                <h1 class="carTitle">RRR-2017</h1>
                <div class="carIMG"></div>
                <div class="specs">
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Chassis:</h3>
                        <p>Chromoly 4130 Steel Space-Frame</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Power Unit:</h3>
                        <p>KTM 690 Gen III</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Weight:</h3>
                        <p>N/A</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Main Achievement:</h3>
                        <p>N/A</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Competition Placement:</h3>
                        <p>104/109</p>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="car">
                <h1 class="carTitle">RRR-2016</h1>
                <div class="carIMG"></div>
                <div class="specs">
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Chassis:</h3>
                        <p>Chromoly 4130 Steel Space-Frame</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Power Unit:</h3>
                        <p>N/A</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Weight:</h3>
                        <p>N/A</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Main Achievement:</h3>
                        <p>Team's highest ever placement at competition</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Competition Placement:</h3>
                        <p>38/115</p>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="car">
                <h1 class="carTitle">RRR-2015</h1>
                <div class="carIMG"></div>
                <div class="specs">
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Chassis:</h3>
                        <p>Chromoly 4130 Steel Space-Frame</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Power Unit:</h3>
                        <p>N/A</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Weight:</h3>
                        <p>N/A</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Main Achievement:</h3>
                        <p>N/A</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Competition Placement:</h3>
                        <p>76/109</p>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="car">
                <h1 class="carTitle">RRR-2014</h1>
                <div class="carIMG"></div>
                <div class="specs">
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Chassis:</h3>
                        <p>Chromoly 4130 Steel Space-Frame</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Power Unit:</h3>
                        <p>Kawasaki KFX 450r</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Weight:</h3>
                        <p>387 lbs</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Main Achievement:</h3>
                        <p>N/A</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Competition Placement:</h3>
                        <p>63/110</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Other Specifications:</h3>
                        <p>10 in Wheels</p>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="car">
                <h1 class="carTitle">RRR-2013</h1>
                <div class="carIMG"></div>
                <div class="specs">
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Chassis:</h3>
                        <p>Chromoly 4130 Steel Space-Frame</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Power Unit:</h3>
                        <p>Fuel Injected, Kawasaki KFX 450r</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Weight:</h3>
                        <p>405 lbs</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Main Achievement:</h3>
                        <p>N/A</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Competition Placement:</h3>
                        <p>68/108</p>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="car">
                <h1 class="carTitle">RRR-2012</h1>
                <div class="carIMG"></div>
                <div class="specs">
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Chassis:</h3>
                        <p>Chromoly 4130 Steel Space-Frame</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Power Unit:</h3>
                        <p>Carburated, Kawasaki 450</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Weight:</h3>
                        <p>424 lbs</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Main Achievement:</h3>
                        <p>N/A</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Competition Placement:</h3>
                        <p>93/109</p>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="car">
                <h1 class="carTitle">RRR-2011</h1>
                <div class="carIMG"></div>
                <div class="specs">
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Chassis:</h3>
                        <p>Chromoly 4130 Steel Space-Frame</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Power Unit:</h3>
                        <p>Honda CBR F4i</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Weight:</h3>
                        <p>550+ lbs</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Main Achievement:</h3>
                        <p>N/A</p>
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Competition Placement:</h3>
                        <p>98/105</p>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}