{% extends "base.html" %}
{% block title %}Our Cars - {% endblock %}
{% block content %}
<head>
</head>
<script>
    const active = document.getElementById('carsBtn');
    const active1 = document.getElementById('carsBtn1');
    active.classList.add("active");
    active1.classList.add("active");
</script>
<body>
    <div class="coverIMG carsIMG">
        <div class="pageTitle">
            <h1 class="teamTitle">Our Cars</h1>
        </div>
    </div>
    <svg class="wave waveTop" id="wave" width="100%" height="200" viewBox="0 0 1440 390" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(8, 8, 8, 1)" offset="0%"></stop><stop stop-color="rgba(8, 8, 8, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,117L720,234L1440,117L2160,351L2880,156L3600,234L4320,312L5040,78L5760,39L6480,234L7200,39L7920,351L8640,195L9360,78L10080,234L10800,156L11520,0L12240,0L12960,234L13680,117L14400,117L15120,0L15840,156L16560,351L17280,234L17280,390L16560,390L15840,390L15120,390L14400,390L13680,390L12960,390L12240,390L11520,390L10800,390L10080,390L9360,390L8640,390L7920,390L7200,390L6480,390L5760,390L5040,390L4320,390L3600,390L2880,390L2160,390L1440,390L720,390L0,390Z"></path></svg>
    <svg class="wave waveBottom" id="wave" width="100%" height="200" viewBox="0 0 1440 390" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(8, 8, 8, 1)" offset="0%"></stop><stop stop-color="rgba(8, 8, 8, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,117L720,234L1440,117L2160,351L2880,156L3600,234L4320,312L5040,78L5760,39L6480,234L7200,39L7920,351L8640,195L9360,78L10080,234L10800,156L11520,0L12240,0L12960,234L13680,117L14400,117L15120,0L15840,156L16560,351L17280,234L17280,390L16560,390L15840,390L15120,390L14400,390L13680,390L12960,390L12240,390L11520,390L10800,390L10080,390L9360,390L8640,390L7920,390L7200,390L6480,390L5760,390L5040,390L4320,390L3600,390L2880,390L2160,390L1440,390L720,390L0,390Z"></path></svg>
    <div class="body">
        <div class="competition">
            <h2>About Competition</h2>
            <hr class="underline">
            <p>Formula SAE's International Competition in Michigan is designed to assess our engineering and business abilities. Formula SAE organizations are to simulate a small engineering consulting firm. With this, the competition consists of technical inspections, static and dynamic events, and business events. The business events include a cost event and a situational proposal. The competition is designed to evaluate the teams and their cars in categories such as; handling, performance, reliability, manufacturability, serviceability, design, marketing, and cost.</p>
        </div>
        <div class="cars">
            {% for car in cars%}
            <div class="car">
                <h2 class="carTitle">{{car.car_name}}</h2>
                <div class="carIMG car2023">
                    <img src="{{car.image.url}}" alt="{{car.car_name}}" height="100%" loading="lazy"/> 
                </div>
                <div class="specs">
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Chassis:</h3>
                        {% if car.chassis %}
                            <p>{{car.chassis}}</p>
                        {% else %}
                            <p>Unknown</p>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Power Unit:</h3>
                        {% if car.power_unit %}
                            <p>{{car.power_unit}}</p>
                        {% else %}
                            <p>Unknown</p>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Weight:</h3>
                        {% if car.weight %}
                            <p>{{car.weight}} lbs</p>
                        {% else %}
                            <p>Unknown</p>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Main Achievement:</h3>
                        {% if car.main_achievement %}
                            <p>{{car.main_achievement}}</p>
                        {% else %}
                            <p>Unknown</p>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="spec">
                        <h3 class="specTitle">Competition Placement:</h3>
                        {% if car.competition_placement %}
                            <p>{{car.competition_placement}}</p>
                        {% else %}
                            <p>Unknown</p>
                        {% endif %}
                    </div>
                    <hr>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>


{% endblock %}


