{% extends "base.html" %}
{% block title %}Car Show - {% endblock %}
{% block content %}
<script>
    const active = document.getElementById('carShwBtn');
    const active1 = document.getElementById('carShwBtn1');
    active.classList.add("active");
    active1.classList.add("active");
</script>
<body>
    <div class="coverIMG teamIMG">
        <div class="pageTitle">
            <h1 class="teamTitle">Annual Car Show</h1>
        </div>
    </div>
    <svg class="wave waveTop" id="wave" width="100%" height="200" viewBox="0 0 1440 390" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(8, 8, 8, 1)" offset="0%"></stop><stop stop-color="rgba(8, 8, 8, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,117L720,234L1440,117L2160,351L2880,156L3600,234L4320,312L5040,78L5760,39L6480,234L7200,39L7920,351L8640,195L9360,78L10080,234L10800,156L11520,0L12240,0L12960,234L13680,117L14400,117L15120,0L15840,156L16560,351L17280,234L17280,390L16560,390L15840,390L15120,390L14400,390L13680,390L12960,390L12240,390L11520,390L10800,390L10080,390L9360,390L8640,390L7920,390L7200,390L6480,390L5760,390L5040,390L4320,390L3600,390L2880,390L2160,390L1440,390L720,390L0,390Z"></path></svg>
    <svg class="wave waveBottom" id="wave" width="100%" height="200" viewBox="0 0 1440 390" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(8, 8, 8, 1)" offset="0%"></stop><stop stop-color="rgba(8, 8, 8, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,117L720,234L1440,117L2160,351L2880,156L3600,234L4320,312L5040,78L5760,39L6480,234L7200,39L7920,351L8640,195L9360,78L10080,234L10800,156L11520,0L12240,0L12960,234L13680,117L14400,117L15120,0L15840,156L16560,351L17280,234L17280,390L16560,390L15840,390L15120,390L14400,390L13680,390L12960,390L12240,390L11520,390L10800,390L10080,390L9360,390L8640,390L7920,390L7200,390L6480,390L5760,390L5040,390L4320,390L3600,390L2880,390L2160,390L1440,390L720,390L0,390Z"></path></svg>
    <div class="body">
        <div class="heading">
            <div class="aboutCarShow">
                <h1>About <br>the Car Show</h1>
                <hr class="underline">
                <p>The Red Raider Racing Annual Car Show is a collaborative social event where the Texas Tech and Lubbock communities come together to celebrate and share their enthusiasm for car culture. It is also a wonderful fundraising opportunity that helps us fund the following year’s car and competition. Our car, made possible by our sponsors and Texas Tech University, will be on display, showing the results of our dedication and efforts towards fostering leaders in engineering and business.</p>
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2377.8731890988743!2d-101.87766133208562!3d33.59062750612974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86fe12ba9c7769f5%3A0x5ef4d8ce186d24aa!2sLot%20C1%2C%20Lubbock%2C%20TX%2079409!5e0!3m2!1sen!2sus!4v1698073666725!5m2!1sen!2sus" width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="carShowReg" id="Register">
            <h1 class="sectionTitle">Register</h1>
            <hr class="underline">
    
            <form action="{% url 'carshow' %}" method="post" onsubmit="showLoading()" autocomplete="on">
                {% csrf_token %} 
                <div class="formCon">
                    <div class="nameReg">
                        <div class="regNameCon">
                            <label for="first_name">First Name:</label>
                            <br>
                            <input type="text" id="first_name" name="first_name" required placeholder="Raider" class="regInputs" maxlength="100" oninput="sanitizeInput(this)" autocomplete="given-name">
                        </div>
                        <div class="regNameCon">
                            <label for="last_name">Last Name:</label>
                            <br>
                            <input type="text" id="last_name" name="last_name" required placeholder="Red" class="regInputs" maxlength="100" oninput="sanitizeInput(this)" autocomplete="family-name">
                        </div>
                    </div>

                    <br>

                    <div class="emailReg">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required placeholder="formula.sae@ttu.edu" class="regInputs" maxlength="50" oninput="sanitizeInput(this)" autocomplete="email">                    
                    </div>
                
                    <br>

                    <div class="radioSubmit">
                        <div class="radioSection">
                            <p>Select your car type:</p>
                            <label>
                                <input type="radio" name="car_type" value="classic" required>
                                Classic
                            </label>
                        
                            <label>
                                <input type="radio" name="car_type" value="exotic">
                                Exotic
                            </label>
                        
                            <label>
                                <input type="radio" name="car_type" value="muscle">
                                Muscle
                            </label>

                            <label>
                                <input type="radio" name="car_type" value="jdm">
                                JDM
                            </label>
                        </div>                        
    
                        <br>
                    
                        <div class="submitArea">
                            <button type="submit" class="submit">Submit</button>
                            <div id="message-container">
                                <div class="message" id="sent">
                                    <h4>Form was submitted. Check your email for the next step.</h4>
                                </div>
                                <div class="message" id="fail">
                                    <h4>There was a problem completing your form.</h4>
                                </div>
                            </div>                
                            <div id="loading">
                                <img src="../static/loaders/wheel.webp" alt="Loading" class="loader"/>
                            </div>   
                        </div>
                    </div>
                </div>
            </form>                     
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.1/purify.min.js" defer></script>
</body>

{% endblock %}