{% extends "base.html" %}
{% block title %}FAQ - {% endblock %}
{% block content %}
<script>
    const faqQuestions = document.querySelectorAll('.faq-question');
    faqQuestions.forEach(question => {
        question.addEventListener('click', () => {
            const answer = question.querySelector('.faq-answer');
            answer.classList.toggle('visible');
        });
    });

    const active = document.getElementById('faqBtn');
    const active1 = document.getElementById('faqBtn1');
    active.classList.add("active");
    active1.classList.add("active");
</script>
<body>
    <div class="headerBackground"></div>
    <div class="FAQCover">
        <div class="pageTitle">
            <h1 class="teamTitle">FAQ</h1>
            <p id="join">Frequently Asked Questions</p>
        </div>
    </div>
    <svg class="wave waveTop" id="wave" width="100%" height="200" viewBox="0 0 1440 390" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(8, 8, 8, 1)" offset="0%"></stop><stop stop-color="rgba(8, 8, 8, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,117L720,234L1440,117L2160,351L2880,156L3600,234L4320,312L5040,78L5760,39L6480,234L7200,39L7920,351L8640,195L9360,78L10080,234L10800,156L11520,0L12240,0L12960,234L13680,117L14400,117L15120,0L15840,156L16560,351L17280,234L17280,390L16560,390L15840,390L15120,390L14400,390L13680,390L12960,390L12240,390L11520,390L10800,390L10080,390L9360,390L8640,390L7920,390L7200,390L6480,390L5760,390L5040,390L4320,390L3600,390L2880,390L2160,390L1440,390L720,390L0,390Z"></path></svg>
    <svg class="wave waveBottom" id="wave" width="100%" height="200" viewBox="0 0 1440 390" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(8, 8, 8, 1)" offset="0%"></stop><stop stop-color="rgba(8, 8, 8, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,117L720,234L1440,117L2160,351L2880,156L3600,234L4320,312L5040,78L5760,39L6480,234L7200,39L7920,351L8640,195L9360,78L10080,234L10800,156L11520,0L12240,0L12960,234L13680,117L14400,117L15120,0L15840,156L16560,351L17280,234L17280,390L16560,390L15840,390L15120,390L14400,390L13680,390L12960,390L12240,390L11520,390L10800,390L10080,390L9360,390L8640,390L7920,390L7200,390L6480,390L5760,390L5040,390L4320,390L3600,390L2880,390L2160,390L1440,390L720,390L0,390Z"></path></svg>
    <div class="FAQSection">
        <div class="question">
            <h3 class="faq" id="join-question">How do I join the team?</h3>
            <div class="answer" id="join-answer">
                <p>First, apply to join on our <a href="https://techconnect.dsa.ttu.edu/organization/redraiderracing" target="_blank">Tech Connect</a> profile. You would also need to attend one of our general meetings. If you are unable to do so, please <a href="/home#contact-us">contact us</a> to start getting involved!</p>
                <br>
                <p>After that, pay dues to our <button onclick="window.open('https://www.powr.io/checkout_screen?unique_label=597fd84e_1660084303', 'PopUpWindow', 'width=400,height=650,scrollbars=yes');">Paypal</button>. In a few days, you will be added to our Microsoft Teams where you can see all the inner workings of the team.</p>
            </div>
        </div>
        {% for question in questions %}
        <hr>
        <div class="question">
            <h3 class="faq">{{question.question}}</h3>
            <div class="answer">
                <p>{{question.answer | safe}}</p>
            </div>
        </div>
        {% endfor %}
        <hr>
    </div>
</body>

{% endblock %}