{% extends "base.html" %}
{% block title %}Home - {% endblock %}
{% block content %}
<head>

</head>
<body>
    <div class="coverIMG">
        <div class="welcomeContainer">
            <h1 class="welcomeTitle">Welcome!</h1>
            <h3 class="join">Looking to Join Red Raider Racing?</h3>
            <p class="subtext">We welcome all majors.</p>
            <a href="/faq"><button><strong>LEARN MORE</strong></button></a>            
        </div>
    </div>
</body>

{% endblock %}