{% extends "base.html" %}
{% block title %}Our Sponsors - {% endblock %}
{% block content %}
<script>
    const active = document.getElementById('sponsorBtn');
    const active1 = document.getElementById('sponsorBtn1');
    active.classList.add("active");
    active1.classList.add("active");
</script>
<body>
    <div class="headerBackground"></div>
    <div class="sponsorCover">
        <div class="pageTitle">
            <h1 class="teamTitle">Our Sponsors</h1>
        </div>
    </div>
    <div class="thankyou">
        <h1>Thank you to our sponsors!</h1>
        <hr class="underline">
        <p>Building a car every year is a challenge for us students, 
            as we are always looking for ways to innovate our designs. 
            With your help and support, we can purchase breakthrough 
            components for the team, making our car more performant 
            for the Competition in May.</p>
    </div>
    <div class="howSponsor">
        <h1 class="sectionTitle">How to Sponsor Us</h1>
        <hr class="underline">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Aliquam eu faucibus orci, vel semper ante. Suspendisse ut porttitor odio. 
            Cras mauris urna, ullamcorper id dolor ac, elementum vulputate neque. 
            Maecenas vestibulum sed ligula ac vehicula. Proin sit amet mi vitae ligula 
            sagittis luctus at quis ex. Cras sit amet nulla iaculis, ornare orci sed, 
            feugiat orci. Donec euismod tellus massa, at tempor tellus sollicitudin eu. 
            Nullam tincidunt magna nec nunc suscipit venenatis. Curabitur sit amet nisi 
            metus. Praesent ac arcu et lectus iaculis viverra. Vestibulum porttitor, 
            sapien eu efficitur aliquet, dolor eros venenatis nunc, ac volutpat mi nisl a dolor. 
            Maecenas dapibus vulputate gravida. Phasellus eu risus eget nulla consequat laoreet 
            rutrum eget tellus. </p>
        <hr class="underline">
        <br>
    </div>

    <div class="sponsors">
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.redraiderracing.com/">
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.redraiderracing.com/">
                        <button></button>
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.redraiderracing.com/">
                        <button></button>
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.redraiderracing.com/">
                        <button></button>
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.redraiderracing.com/">
                        <button></button>
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.redraiderracing.com/">
                        <button></button>
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.redraiderracing.com/">
                        <button></button>
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.redraiderracing.com/">
                        <button></button>
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.redraiderracing.com/">
                        <button></button>
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.redraiderracing.com/">
                        <button></button>
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.redraiderracing.com/">
                        <button></button>
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.redraiderracing.com/">
                        <button></button>
                    </a>
            </div>
        </div>
    </div>
</body>

{% endblock %}