{% extends "base.html" %}
{% block title %}Our Sponsors - {% endblock %}
{% block content %}
<script>
    const active = document.getElementById('sponsorBtn');
    const active1 = document.getElementById('sponsorBtn1');
    active.classList.add("active");
    active1.classList.add("active");
</script>
<body>
    <div class="headerBackground"></div>
    <div class="sponsorCover">
        <div class="pageTitle">
            <h1 class="teamTitle">Our Sponsors</h1>
        </div>
    </div>
    <svg class="wave waveTop" id="wave" viewBox="0 0 1440 390" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(8, 8, 8, 1)" offset="0%"></stop><stop stop-color="rgba(8, 8, 8, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,117L720,234L1440,117L2160,351L2880,156L3600,234L4320,312L5040,78L5760,39L6480,234L7200,39L7920,351L8640,195L9360,78L10080,234L10800,156L11520,0L12240,0L12960,234L13680,117L14400,117L15120,0L15840,156L16560,351L17280,234L17280,390L16560,390L15840,390L15120,390L14400,390L13680,390L12960,390L12240,390L11520,390L10800,390L10080,390L9360,390L8640,390L7920,390L7200,390L6480,390L5760,390L5040,390L4320,390L3600,390L2880,390L2160,390L1440,390L720,390L0,390Z"></path></svg>
    <svg class="wave waveBottom" id="wave" viewBox="0 0 1440 390" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(8, 8, 8, 1)" offset="0%"></stop><stop stop-color="rgba(8, 8, 8, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,117L720,234L1440,117L2160,351L2880,156L3600,234L4320,312L5040,78L5760,39L6480,234L7200,39L7920,351L8640,195L9360,78L10080,234L10800,156L11520,0L12240,0L12960,234L13680,117L14400,117L15120,0L15840,156L16560,351L17280,234L17280,390L16560,390L15840,390L15120,390L14400,390L13680,390L12960,390L12240,390L11520,390L10800,390L10080,390L9360,390L8640,390L7920,390L7200,390L6480,390L5760,390L5040,390L4320,390L3600,390L2880,390L2160,390L1440,390L720,390L0,390Z"></path></svg>
    <div class="thankyou">
        <h1>Thank you to our sponsors!</h1>
        <hr class="underline">
        <p>Building a car every year is a challenge for us students, 
            as we are always looking for ways to innovate our designs. 
            With your help and support, we can purchase breakthrough 
            components for the team, making our car more performant 
            for the Competition in May.</p>
    </div>
    <div class="howSponsor">
        <h1 class="sectionTitle">How to Sponsor Us</h1>
        <hr class="underline">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Aliquam eu faucibus orci, vel semper ante. Suspendisse ut porttitor odio. 
            Cras mauris urna, ullamcorper id dolor ac, elementum vulputate neque. 
            Maecenas vestibulum sed ligula ac vehicula. Proin sit amet mi vitae ligula 
            sagittis luctus at quis ex. Cras sit amet nulla iaculis, ornare orci sed, 
            feugiat orci. Donec euismod tellus massa, at tempor tellus sollicitudin eu. 
            Nullam tincidunt magna nec nunc suscipit venenatis. Curabitur sit amet nisi 
            metus. Praesent ac arcu et lectus iaculis viverra. Vestibulum porttitor, 
            sapien eu efficitur aliquet, dolor eros venenatis nunc, ac volutpat mi nisl a dolor. 
            Maecenas dapibus vulputate gravida. Phasellus eu risus eget nulla consequat laoreet 
            rutrum eget tellus. </p>
        <hr class="underline">
        <br>
    </div>

    <div class="sponsors">
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.ansys.com/" target="_blank">
                        <img src="../static/sponsors/ANSYS.png" alt="ANSYS">
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.aurorabearing.com/index.html" target="_blank">
                        <img src="../static/sponsors/Aurora.png" alt="Aurora">
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.bellflight.com/" target="_blank">
                        <img src="../static/sponsors/Bell.png" alt="Bell">
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="http://www.drexlermotorsport.com/" target="_blank">
                        <img src="../static/sponsors/Drexler.png" alt="Drexler">
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.econtrols.com/" target="_blank">
                        <img src="../static/sponsors/EControls.png" alt="EControls">
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.edwardjones.com/us-en" target="_blank">
                        <img src="../static/sponsors/Edward Jones.png" alt="Edward Jones">
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.fpslubbock.com/" target="_blank">
                        <img src="../static/sponsors/Family Powersports.png" alt="Family Powersports">
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.genemesserford.com/" target="_blank">
                        <img src="../static/sponsors/Gene Messer Ford Lubbock.png" alt="Gene Messer Ford Lubbock">
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.goengineer.com/" target="_blank">
                        <img src="../static/sponsors/GoEngineer.jpg" alt="GoEngineer">
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.hmsmotorsport.com/" target="_blank">
                        <img src="../static/sponsors/HMS Motorsport.png" alt="HMS Motorsport">
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.homedepot.com/" target="_blank">
                        <img src="../static/sponsors/Home Depot.png" alt="Home Depot">
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.hoosiertire.com/" target="_blank">
                        <img src="../static/sponsors/Hoosier.png" alt="Hoosier">
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.lotuscars.com/en-US" target="_blank">
                        <img src="../static/sponsors/Lotus.png" alt="Lotus">
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://otspec.com/" target="_blank">
                        <img src="../static/sponsors/OTS.png" alt="OTS">
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.picotech.com/" target="_blank">
                        <img src="../static/sponsors/Pico Technology.png" alt="Pico Technology">
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://rapidharness.com/" target="_blank">
                        <img src="../static/sponsors/Rapid Harness.png" alt="Rapid Harness">
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.ricardo.com/en" target="_blank">
                        <img src="../static/sponsors/Ricardo.png" alt="Ricardo">
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.siemens.com/global/en.html" target="_blank">
                        <img src="../static/sponsors/Siemens.png" alt="Siemens">
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.solidworks.com/" target="_blank">
                        <img src="../static/sponsors/SolidWorks.png" alt="SolidWorks">
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://teinertmetalsinc.com/" target="_blank">
                        <img src="../static/sponsors/Teinert.png" alt="Teinert">
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://texcraft.biz/" target="_blank">
                        <img src="../static/sponsors/Texcraft.png" alt="Texcraft">
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.depts.ttu.edu/sga/" target="_blank">
                        <img src="../static/sponsors/TTU SGA.jpg" alt="TTU SGA">
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://whataburger.com/home" target="_blank">
                        <img src="../static/sponsors/Whataburger.png" alt="Whataburger">
                    </a>
            </div>
        </div>
        <div class="sponsor">
            <div class="sponsorLogo">
                    <a href="https://www.wilwood.com/" target="_blank">
                        <img src="../static/sponsors/Wilwood.png" alt="Wilwood">
                    </a>
            </div>
        </div>
    </div>
</body>

{% endblock %}