{% extends "base.html" %}
{% block title %}Our Team - {% endblock %}
{% block content %}
<head>

</head>
<body>
    <div class="coverIMG">
        <div class="pageTitle">
            <h1 class="teamTitle">Our Team</h1>
        </div>
    </div>
    <div class="admin">
        <h1 class="sectionTitle">Administrative Team</h1>
        <hr class="underline">
        <div class="members">
            <div class="member">
                <div class="memberIMG"></div>
                <h2 class="memberName">Colton Sanford</h2>
                <h3 class="memberTitle">President</h3>
            </div>
            <div class="member">
                <div class="memberIMG"></div>
                <h2 class="memberName">Seoyeon 'Avery' Han</h2>
                <h3 class="memberTitle">Marketing Lead</h3>
            </div>
            <div class="member">
                <div class="memberIMG"></div>
                <h2 class="memberName">Keaton Holloway</h2>
                <h3 class="memberTitle">Treasurer</h3>
            </div>
            <div class="member">
                <div class="memberIMG"></div>
                <h2 class="memberName">Carson Spaniel</h2>
                <h3 class="memberTitle">Software Engineer</h3>
            </div>
        </div>
    </div>
    <div class="officers">
        <h1 class="sectionTitle">Technical Team</h1>
        <hr class="underline">
        <div class="members">
            <div class="member">
                <div class="memberIMG"></div>
                <h2 class="memberName">Brandon Richard</h2>
                <h3 class="memberTitle">Chief Engineer</h3>
            </div>
            <div class="member">
                <div class="memberIMG"></div>
                <h2 class="memberName">David Castillo</h2>
                <h3 class="memberTitle">Aerodynamics & Body Lead</h3>
            </div>
            <div class="member">
                <div class="memberIMG"></div>
                <h2 class="memberName">Braedyn Deaver</h2>
                <h3 class="memberTitle">Aerodynamics & Body Lead</h3>
            </div>
            <div class="member">
                <div class="memberIMG"></div>
                <h2 class="memberName">Thomson Himes</h2>
                <h3 class="memberTitle">Chassis Lead<br>Cockpit & Safety Lead</h3>
            </div>
            <div class="member">
                <div class="memberIMG"></div>
                <h2 class="memberName">Guillermo Martinez</h2>
                <h3 class="memberTitle">Chassis Lead<br>Cockpit & Safety Lead</h3>
            </div>
            <div class="member">
                <div class="memberIMG"></div>
                <h2 class="memberName">Parker Rapley</h2>
                <h3 class="memberTitle">Composites Lead</h3>
            </div>
            <div class="member">
                <div class="memberIMG"></div>
                <h2 class="memberName">Tyler Pellicore</h2>
                <h3 class="memberTitle">Powertrain Lead</h3>
            </div>
            <div class="member">
                <div class="memberIMG"></div>
                <h2 class="memberName">Jose Simbeck</h2>
                <h3 class="memberTitle">Powertrain Lead</h3>
            </div>
            <div class="member">
                <div class="memberIMG"></div>
                <h2 class="memberName">Jacob Forbes</h2>
                <h3 class="memberTitle">Steering & Ergonomics Lead</h3>
            </div>
            <div class="member">
                <div class="memberIMG"></div>
                <h2 class="memberName">Chris Paulson</h2>
                <h3 class="memberTitle">Suspension Lead</h3>
            </div>
        </div>
    </div>
</body>

{% endblock %}