{% extends "base.html" %}
{% block title %}Terms of Service - {% endblock %}
{% block content %}
<body>
    <div class="headerBackground"></div>
    <div class="generalCover">
        <div class="pageTitle">
            <h1 class="teamTitle">Terms of Service</h1>
        </div>
    </div>
    <svg class="wave waveTop" id="wave" width="100%" height="200" viewBox="0 0 1440 390" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(8, 8, 8, 1)" offset="0%"></stop><stop stop-color="rgba(8, 8, 8, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,117L720,234L1440,117L2160,351L2880,156L3600,234L4320,312L5040,78L5760,39L6480,234L7200,39L7920,351L8640,195L9360,78L10080,234L10800,156L11520,0L12240,0L12960,234L13680,117L14400,117L15120,0L15840,156L16560,351L17280,234L17280,390L16560,390L15840,390L15120,390L14400,390L13680,390L12960,390L12240,390L11520,390L10800,390L10080,390L9360,390L8640,390L7920,390L7200,390L6480,390L5760,390L5040,390L4320,390L3600,390L2880,390L2160,390L1440,390L720,390L0,390Z"></path></svg>
    <svg class="wave waveBottom" id="wave" width="100%" height="200" viewBox="0 0 1440 390" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(8, 8, 8, 1)" offset="0%"></stop><stop stop-color="rgba(8, 8, 8, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,117L720,234L1440,117L2160,351L2880,156L3600,234L4320,312L5040,78L5760,39L6480,234L7200,39L7920,351L8640,195L9360,78L10080,234L10800,156L11520,0L12240,0L12960,234L13680,117L14400,117L15120,0L15840,156L16560,351L17280,234L17280,390L16560,390L15840,390L15120,390L14400,390L13680,390L12960,390L12240,390L11520,390L10800,390L10080,390L9360,390L8640,390L7920,390L7200,390L6480,390L5760,390L5040,390L4320,390L3600,390L2880,390L2160,390L1440,390L720,390L0,390Z"></path></svg>
    <div class="generalSection">
        <p>Last updated: <strong>October 2nd, 2023</strong></p>
        <br>

        <p>These Terms of Service ("Terms") govern your use of Red Raider Racing (the "Website") operated by Red Raider Racing ("us," "we," "our").</p>

        <p>Please read these Terms carefully before using our Website.</p>

        <ol>
            <li><strong>Acceptance of Terms</strong>
            <p>By accessing or using our Website, you agree to be bound by these Terms and all applicable laws and regulations. If you disagree with any part of these Terms, you may not use our Website.</p>
            </li>

            <li><strong>Intellectual Property</strong>
            <p>The content, features, and functionality of the Website, including but not limited to text, graphics, logos, icons, images, audio, and video clips, are the property of Red Raider Racing and protected by copyright, trademark, and other intellectual property laws.</p>
            </li>

            <li><strong>Prohibited Uses</strong>
            <p>You may not use the Website for any unlawful purpose or in a way that violates these Terms. Prohibited uses include, but are not limited to:</p>
            <p>a. Violating any applicable laws, regulations, or third-party rights.</p>
            <p>b. Uploading or transmitting viruses, malware, or any other malicious code.</p>
            </li>

            <li><strong>Limitation of Liability</strong>
            <p>We shall not be liable for any damages, including without limitation, direct, indirect, incidental, special, consequential, or punitive damages arising out of the use or inability to use the Website.</p>
            </li>

            <li><strong>Changes to Terms</strong>
            <p>We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is significant, we will provide at least 30 days' notice before any new terms taking effect.</p>
            </li>

            <li><strong>Termination</strong>
            <p>We may terminate or suspend your access to the Website immediately, without prior notice or liability, for any reason whatsoever.</p>
            </li>

            <li><strong>Governing Law</strong>
            <p>These Terms shall be governed by and construed in accordance with the laws of the United States of America, without regard to its conflict of law provisions.</p>
            </li>
        </ol>
        <p>If you have any questions about these Terms, please <a href="/home#contact-us">Contact Us</a>.</p>
    </div>
</body>

{% endblock %}