/* Styles for screens less than 500px wide */
@media (max-width: 500px) {
    .welcomeIMG{
        background-image: url('../images/mobile/RRR-2023-Cover-min.JPG');
    }
    
    .teamIMG{
        background-image: url('../images/mobile/RRR-2023-Team-min.JPG');
    }
    
    .carsIMG{
        background-image: url('../images/mobile/RRR-2023-Cars-min.JPG');
    }

    .carShowIMG{
        background-image: url('../images/CarShowIMG.jpg');
    }
}

/* Styles for screens greater than 500px wide */
@media (min-width: 501px) {
    .welcomeIMG{
        background-image: url('../images/archive/RRR-2023-Cover-min.JPG');
    }
    
    .teamIMG{
        background-image: url('../images/archive/RRR-2023-Team-min.JPG');
    }
    
    .carsIMG{
        background-image: url('../images/archive/RRR-2023-Cars-min.JPG');
    }

    .carShowIMG{
        background-image: url('../images/CarShowIMG.jpg');
    }
}
