.errorPage{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
}

.errorPage a{
    color: var(--secondary-color);
}

.ground{
    width: 100%;
    height: 100%;
    background-color: rgb(24, 24, 24);
    top: -60px;
    position: relative;
    z-index: 70;
}

@keyframes traverseError {
    0% {
      transform: translateX(100vw);
    }
    100% {
      transform: translateX(-100vw);
    }
}

.errorWheel{
    animation: traverseError 14s infinite ease-in-out;
    z-index: 80;
    position: relative;
    top: 380px;
    left: 50%;
    display: block;
    margin: none;
}

.errorCover .pageTitle h1{
    font-size: max(18px, min(18vw, 160px));
    margin: 0;
}

.errorCover .pageTitle{
    z-index: 82;
}

@keyframes rollCounter {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-15120deg);
    }
}

.errorCover #loading img{
    animation: rollCounter 14s infinite;
}

.errorCover #loading{
    display: block;
    position: relative;
    z-index: 81;
    top:75%;
}

.smokeContainer{
    position: relative;
    z-index: 60;
}

.ground~div svg{
    position: relative;
    z-index: 70;
}

.ground~div svg path{
    fill: unset;
}

@keyframes smoke1 {
    0% {
      transform: rotate(0deg) scale(0);
    }
    100% {
      transform: rotate(-720deg) scale(.5);
    }
}

@keyframes smokePath1 {
    0% {
      transform: translate(0,0);
      opacity: .4;
    }
    50%{
        opacity: .9;
    }
    100% {
      transform: translate(-300px,-500px);
      opacity: 0;
    }
}

.smoke1{
    animation: smokePath1 14s infinite ease-in;
    top: -100%;
    left: 94%;
}

.smoke1 svg{
    animation: smoke1 14s infinite ease-in;
}

@keyframes smoke2 {
    0% {
      transform: rotate(0deg) scale(0);
    }
    100% {
      transform: rotate(1000deg) scale(.4);
    }
}

@keyframes smokePath2 {
    0% {
      transform: translate(0,0);
      opacity: .4;
    }
    50%{
        opacity: .9;
    }
    100% {
      transform: translate(-500px,-700px);
      opacity: 0;
    }
}

.smoke2{
    animation: smokePath2 17s infinite ease-in;
    top: -200%;
    left: 101%;
}

.smoke2 svg{
    animation: smoke2 17s infinite ease-in;
}

@keyframes smoke3 {
    0% {
      transform: rotate(0deg) scale(0);
    }
    100% {
      transform: rotate(-360deg) scale(.6);
    }
}

@keyframes smokePath3 {
    0% {
      transform: translate(0,0);
      opacity: .4;
    }
    50%{
        opacity: .9;
    }
    100% {
      transform: translate(-400px,-600px);
      opacity: 0;
    }
}

.smoke3{
    animation: smokePath3 10s infinite ease-in;
    top: -300%;
    left: 100%;
}

.smoke3 svg{
    animation: smoke3 10s infinite ease-in;
}