* {
    font-family:'Courier New', Courier, monospace;
}

body{
    margin: 0;
}

main{
    margin: auto;
    width: 100%;
    max-width: 1200px;
}

header {
    background-color: #f0f0f0; /* Add your preferred background color */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.logo-image {
    padding: 10px;
    width: 100px; /* Adjust the width of your logo */
    aspect-ratio: 1;
    background-color: #ccc; /* Add your preferred background color */
}

.navMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    flex-grow: .5;
}

nav a {
    text-decoration: none;
    color: #333; /* Add your preferred text color */
    margin: 10px;
}

nav button{
    font-size: 20px;
}

.altNav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    align-items: center;
    flex-grow: .5;
}

.dropdown {
    position: relative;
    display: block;
}

.dropdown-content {
    border-radius: 5px;
    display: none;
    position: absolute;
    right: -45px;

    background-color: white;
    /* background-color: var(--primary-color); */
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin: auto;
}

.dropdown-content a {
    border-radius: 5px;
    /* color: var(--font-color); */
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 5px;
}

/* .dropdown-content a:hover {
    background-color: var(--secondary-color);
    color: #477463;
} */

.dropdown:hover .dropdown-content {
    display: block;
}


button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.coverIMG {
    width:100%;
    --Wid: 1000px;
    height: calc(.5*var(--Wid)); /* Adjust the height of your logo */
    background-color: #797979; /* Add your preferred background color */
}

.welcomeContainer{
    margin: 0;
    padding: 10px;
    text-align: right;
}

.welcomeTitle{
    margin: 0;
    text-align: left;
}

.join{
    margin: 5px auto 0px auto
}

.subtext{
    margin: 0 auto;
}

.rights{
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    font-size: small;
    margin: 0;
}

.footerText{
    margin: 0;
}