/** 
 * Author: Carson Spaniel
 * Date: 8/15/23
*/

:root {
    --primary-color: #414141;
    --primary-faded-color: #131313f5;
    --secondary-color: #b70102;
    --secondary-faded-color: #b70102da;
    --background-color: #080808;
    --font-color: #d3d3d3;
    --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --imagePlaceholder: #222222;
}

@font-face {
    font-family: 'ethnocentric';
    src: url("../fonts/ethnocentric.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: 'ethnocentric_it';
    src: url("../fonts/ethnocentric_it.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: 'Tahoma';
    src: url("../fonts/tahomaregularfont-webfont.woff") format("opentype");
    font-display: swap;
}

* {
    font-family: 'ethnocentric';
    overflow-x: hidden;
}

body{
    margin: 0;
    background-color: var(--background-color);
    color: var(--font-color);
}

main{
    margin: auto;
    width: 100%;
    overflow-x: visible;
}

header {
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: top 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    padding-top: 20px;
    margin-top: -10px;
}

header button{
    font-family: 'ethnocentric';
}

.active {
    color: var(--secondary-color);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    overflow-x: visible;
}

.logo a{
    overflow-x: visible;
}

.logo-image {
    padding: 10px;
    width: 170px;
    height: 70px;
    /* background-color: var(--imagePlaceholder); */
    background-image: url('../logos/RRR_Logo_RED_New.png'); /* Set the path to your image */
    background-size: contain;
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    overflow-x: visible;
}

#mainHeader{
    box-shadow: none;
    overflow-x: visible;
}

.navMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    padding: 10px;
    align-items: center;
    flex-grow: .5;
}

a button{
    text-decoration: none;
    color: var(--font-color); /* Add your preferred text color */
    margin: 10px;
    text-align: center;
}

.altNav button{
    font-size: 32px;
}

nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: blink;
    transition: transform 0.2s ease-out;
}

.navMain a:hover {
    text-decoration: none;
    transform: translateY(-10px);
    position: relative; /* Add relative positioning for pseudo-element */
}

.navMain a button{
    font-size: 25px;
    font-weight: 900;
}

.navMain a:hover button{
    color: var(--secondary-color);
}

.altNav{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    padding: 10px;
    align-items: center;
    flex-grow: .5;
    z-index: 100;
}

.dropdown {
    position: absolute;
    display: flex; /* Use flex display for vertical alignment */
    flex-direction: column; /* Stack the content vertically */
    align-items: center; /* Align content to the right */
    justify-content: center;
    margin: auto;
    overflow-x: unset;
    height: 95%;
}

.dropdown-content {
    border-radius: 5px;
    display: none;
    min-width: 100px;
    z-index: 100;
    margin: auto;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-around;
}

.dropdown-content a {
    border-radius: 5px;
    /* color: var(--font-color); */
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: visible;
    z-index: 100;
}

.dropdown-content.small-screen a {
    padding: 0px;
}

.dropdown-content.small-screen a button {
    margin: 0px;
}

.dropdown.small-screen{
    height: 80%;
}

.dropdown-content a button{
    font-size: min(10vw, 36px);
    font-weight: 900;
    z-index: 100;
}

/* .dropdown-content a:hover button{
    color: var(--secondary-color);
} */

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.coverIMG {
    width:100%;
    --height: min(100vw, 600px);
    height: var(--height);
    --min-height: 230px;
    min-height: var(--min-height);
    background-color: #797979;
    /* background-color: var(--imagePlaceholder); */
    background-size: cover; /* You can use 'cover' to maintain aspect ratio and cover the div */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: center center; /*calc(50% + 30px)*/
}

.welcomeIMG{
    --height: min(200vw, 600px);
    --min-height: 490px;
}

.coverIMG::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--height);
    min-height: var(--min-height);
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity (0.6 for 40% brightness) */
}

.pageTitle{
    margin: 0 auto;
    padding: 10px;
    max-width: 1200px;
    z-index: 80;
    position: relative;
    color: var(--secondary-color);
}

.FAQCover .pageTitle p{
    text-align: center;
}

.welcome{
    color: var(--font-color);
}

h1{
    color: var(--secondary-color);
    font-size: max(16px, min(10vw, 58px));
}

h2{
    font-size: min(10vw, 36px);
}

.learnMore,.learnMoreAbout{
    font-weight: 900;
    font-size: max(12px, min(2vw, 16px));
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: var(--secondary-color);
    color: var(--font-color);
    padding: 10px;
    border-radius: 3px;
    margin: 11px;
}

.learnMore:hover,.learnMoreAbout:hover{
    background-color: rgba(0, 0, 0, 0);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    margin: 10px;
}

.welcomeTitle{
    margin: 0;
    text-align: left;
    margin-bottom: 40px;
    padding: 10px;
    font-family: 'ethnocentric_it';
}

.join{
    margin: 5px auto 0px auto;
    font-size: min(10vw, 30px);
}

.subtext{
    margin: 0 auto;
    font-size: min(8vw, 20px);
}

.footerText{
    margin: 0;
    font-family: 'Tahoma';
}

footer{
    margin: 0;
    margin-top: 50px;
    position: relative;
    z-index: 70;
    box-shadow: var(--shadow);
    background-color: var(--primary-faded-color);
    padding: 40px 15px;
    text-align: center;
    font-size: small;
}

footer a{
    text-decoration: none;
}

.about{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    overflow-x: visible;
    padding: 10px;
    z-index: 80;
    position: relative;
}

.about p{
    font-family: 'Tahoma';
}

.benefits{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 50;
    overflow-x: visible;
}

.benefit{
    width: 300px;
    height: min(50vw, 350px);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    perspective: 1000px; /* Set the perspective for 3D effect */
    cursor: pointer;
    padding: 20px;
    overflow-x: visible;
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 0.5s ease; /* Smooth transition for opacity */
}

.benefit.visible{
    opacity: 1;
}

.menuButton{
    color: var(--font-color);
    position: relative;
}

.benefitTitle,
.benefitDes {
    background-color: var(--secondary-color);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hide the backface of the card */
    transform-origin: center; /* Set the rotation axis to the center of the card */
    border-radius: 20px;
    transition: transform 0.4s ease-out; /* Add a smooth transition */
    text-align: center;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.benefitDes{
    transform: rotateY(-180deg); /* Initially hidden side */
    overflow-x: visible;
}

.benefitTitle {
    transform: rotateY(0deg); /* Initially visible side */
}

.benefitTitle h1{
    color: var(--font-color);
    font-size: min(7vw, 30px);
}

.benefitDes p{
    font-size: min(5vw, 25px);
    padding: 10px;
    margin: 0;
}

.benefit.flipped .benefitTitle {
    transform: rotateY(180deg);
}

.benefit.flipped .benefitDes {
    transform: rotateY(0deg);
}

.teamTitle{
    margin: 0 auto;
    text-align: center;
}

.sectionTitle{
    margin: 10px auto;
    text-align: center;
    font-size: min(7vw, 36px);
}

.underline{
    max-width: 600px;
    width: 80%;
}

.members{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    overflow-x: visible;
}

.member{
    text-align: center;
    width: 300px;
    height: min(100vw,375px);
    opacity: 0;
    transition: opacity 0.5s ease; /* Smooth transition for opacity */
    overflow-x: visible;
}

.member.visible{
    opacity: 1;
}

.memberIMG{
    margin: 10px auto;
    padding: 10px;
    width: min(50vw, 200px);
    aspect-ratio: 1;
    background-color: var(--imagePlaceholder);
    border-radius: 150px;
}

.memberName{
    margin: 0px;
    font-size: min(8vw, 22px);
    font-weight: 900;
}

.memberTitle{
    margin: 0px;
    font-size: min(7vw, 16px);
    font-style: italic;
    font-weight: 200;
    margin-bottom: 50px;
}

.memberName,.memberTitle{
    font-family: 'Tahoma';
}

.admin{
    padding: 10px;
    margin-bottom: 75px;
}

.admin,.officers{
    overflow-x: visible;
}

p{
    font-size: min(8vw, 18px);
}

.social-button {
    border: none; /* Remove the default button border */
    cursor: pointer; /* Change cursor to pointer on hover */
    padding: 0; /* Remove default padding */
}

.social-button img{
    width: 24px;
    aspect-ratio: 1;
}

.socials{
    margin-top: 20px;
}

.cars{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.car{
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-bottom: 50px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.car.visible{
    opacity: 1;
}

.carIMG{
    margin: 10px auto;
    padding: 10px;
    width: 60%;
    max-width: 490px;
    background-color: var(--imagePlaceholder);
    border-radius: 5px;
    background-size: cover; /* You can use 'cover' to maintain aspect ratio and cover the div */
    background-repeat: no-repeat; /* Prevent the background image from repeating */
    background-position: center center;
    overflow: visible;
    transition: transform .2s ease-out;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked ~ label img{
    cursor: zoom-out;
}

input[type=checkbox]:checked ~ .carIMG{
    transform: scale(1.5);
}

.carIMG img{
    width: 100%;
    cursor: zoom-in;
}

.specs{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    flex-direction: column;
}

.specs hr{
    width: 100%;
    color: var(--secondary-color);
}

.spec{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    max-width: 1000px;
    padding: 10px;
}

.spec p{
    font-family: 'Tahoma';
    font-size: min(4vw, 20px);
}

.specTitle{
    text-align: left;
    max-width: 60%;
    margin: 0px;
    font-size: min(4vw, 20px);
}

.spec p{
    text-align: right;
    max-width: 40%;
    margin: 0px;
}

.headerBackground {
    width:100%;
    height: 120px;
    background-color: var(--primary-faded-color);
}

.FAQCover,.sponsorCover {
    width:100%;
    height: max(280px,min(100vw, 400px));
    background-color: var(--secondary-faded-color);
}

.FAQCover .pageTitle, .FAQCover h1,.sponsorCover h1{
    color: var(--font-color);
}

.FAQSection{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.FAQSection a{
    color: var(--secondary-color)
}

.faq {
    padding: 10px;
    cursor: pointer;
    margin: 0px;
    font-size: min(7vw, 18px);
}

.answer {
    display: none;
    padding: 0px 40px;
    opacity: 0;
    transition: opacity 0.5s;
}

.answer p{
    font-family:'Tahoma';
}

.FAQSection p{
    margin: 5px;
}

.sponsors{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.sponsor{
    text-align: center;
    margin: 20px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.sponsor.visible{
    opacity: 1;
}

.sponsorLogo{
    margin: 10px auto;
    width: min(60vw, 300px);
    aspect-ratio: 16/9;
    background-color: var(--imagePlaceholder);
    border-radius: 40px;
}

.sponsorLogo a{
    display: block;
    width: 100%;
    height: 100%;
}

.thankyou,.howSponsor{
    margin: auto;
    text-align: center;
    padding: 20px;
    max-width: 1200px;
}

.thankyou h1{
    font-size: max(12px, min(7vw, 36px));
}

.thankyou p{
    font-family: 'Tahoma';
}

.howSponsor p{
    font-family: 'Tahoma';
}

.thankyou strong{
    color: var(--secondary-color);
}

.contactUs{
    margin: auto;
    max-width: 1200px;
    text-align: center;
    margin-top: 50px;
    overflow: visible;
}

.body{
    background-color: var(--background-color);
    width: 100%;
    z-index: 90;
    position: relative;
    overflow-x: visible;
}

.formCon{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    margin: 10px;
}

.nameEmail,.emailMessage{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    overflow-x: visible;
}

.nameEmail label,.emailMessage label{
    margin: 13px;
    font-size: max(12px, min(7vw, 20px));
}

.inputs{
    margin: 0 auto;
    font-family: 'Tahoma';
    width: max(12px, min(80vw, 400px));
    font-size: max(12px, min(7vw, 20px));
    border: none;
    padding: 5px;
    border-radius: 5px;
    transition: outline 0.1s ease-out, outline-offset 0.1s ease-out, border-radius 0.1s ease-out;
    color: var(--background-color);
    background-color: var(--font-color);
}

.inputs:focus{
    outline: 3px solid var(--secondary-color);
    outline-offset: 2px;
    border-radius: 5px;
}

textarea.inputs {
    resize: none;
}

.submit{
    font-size: max(12px, min(7vw, 20px));
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--font-color);
    color: var(--background-color);
    cursor: pointer;
}

.message{
    margin: 20px;
    display: none;
    font-size: max(12px, min(7vw, 20px));
}

#loading{
    display: none;
    margin: 0 20px;
    overflow: visible;
    margin-top: 20px;
}

#loading img{
    height: 30px;
}

.submitArea{
    display: block;
    overflow: visible;
}

#contact{
    overflow: visible;
}

#character-count{
    margin: 5px;
}

/* Styles for screens less than 500px wide */
@media (max-width: 500px) {
    .inputs {
        width: max(12px, min(80vw, 400px));
    }

    .welcomeIMG{
        background-image: url('../images/mobile/RRR-2023-Cover-min.JPG');
    }
    
    .teamIMG{
        background-image: url('../images/mobile/RRR-2023-Team-min.JPG');
    }
    
    .carsIMG{
        background-image: url('../images/mobile/RRR-2023-Cars-min.JPG');
    }
}

/* Styles for screens less than 1000px wide */
@media (max-width: 1000px) {
    .logo-image{
        width: 108px;
    }    
}


/* Styles for screens greater than 500px wide */
@media (min-width: 501px) {
    .inputs {
        width: max(300px, min(40vw, 400px));
    }

    .altNav button:hover{
        color: var(--secondary-color);
    }

    .welcomeIMG{
        background-image: url('../images/RRR-2023-Cover.webp');
    }
    
    .teamIMG{
        background-image: url('../images/RRR-2023-Team.webp');
    }
    
    .carsIMG{
        background-image: url('../images/RRR-2023-Cars.webp');
    }

    .benefit:not(.flipped):hover .benefitTitle {
        transform: rotateY(180deg);
    }
    
    .benefit:not(.flipped):hover .benefitDes {
        transform: rotateY(0deg);
    }
}