:root {
    --primary-color: #414141;
    --primary-faded-color: #414141f5;
    --primary-more-faded-color: #414141da;
    --secondary-color: #960a0ada;
    --background-color: #252525;
    --font-color: #d3d3d3;
    --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    --imagePlaceholder: #222222;
}

* {
    font-family: 'Tahoma';
    overflow-x: hidden;
}

body{
    margin: 0;
    background-color: var(--background-color);
    color: var(--font-color);
}

main{
    margin: auto;
    width: 100%;
    overflow-x: visible;
}

header {
    background-color: var(--primary-faded-color); /* Add your preferred background color */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: top 0.3s ease;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.logo-image {
    padding: 10px;
    width: 100px; /* Adjust the width of your logo */
    aspect-ratio: 1;
    background-color: var(--imagePlaceholder); /* Add your preferred background color */
}

#mainHeader{
    box-shadow: var(--shadow);
}

.navMain{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    padding: 10px;
    align-items: center;
    flex-grow: .5;
}

a button{
    text-decoration: none;
    color: var(--font-color); /* Add your preferred text color */
    margin: 10px;
    text-align: center;
}

.altNav button{
    font-size: 32px;
}

.altNav button:hover{
    color: var(--secondary-color);
}

nav a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: blink;
    transition: transform 0.2s ease-out;
}

.navMain a:hover {
    text-decoration: none;
    transform: translateY(-10px);
    position: relative; /* Add relative positioning for pseudo-element */
}

.navMain a button{
    font-size: 25px;
}

.navMain a:hover button{
    color: var(--secondary-color);
}

.altNav{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    padding: 10px;
    align-items: center;
    flex-grow: .5;
}

.dropdown {
    position: absolute;
    display: flex; /* Use flex display for vertical alignment */
    flex-direction: column; /* Stack the content vertically */
    align-items: center; /* Align content to the right */
    justify-content: center;
    margin: auto;
    overflow-x: unset;
}

.dropdown-content {
    border-radius: 5px;
    display: none;
    min-width: 100px;
    z-index: 100;
    margin: auto;
    flex-grow: 1;
}

.dropdown-content a {
    border-radius: 5px;
    /* color: var(--font-color); */
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-content.small-screen a {
    padding: 0px;
}

.dropdown-content.small-screen a button {
    margin: 0px;
}

.dropdown-content a button{
    font-size: 40px;
}

.dropdown-content a:hover button{
    font-size: 40px;
    color: var(--secondary-color);
}
/* 
.dropdown:hover .dropdown-content {
    display: block;
} */


button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.coverIMG {
    width:100%;
    height: 600px; /* Adjust the height of your logo */
    background-color: #797979; /* Add your preferred background color */
}

.pageTitle{
    margin: 0 auto;
    padding: 10px;
    max-width: 1200px;
}

.learnMore{
    color: var(--background-color);
}

.learnMore,.learnMoreAbout{
    font-weight: 900;
    font-size: 15px;
}

.learnMore:hover{
    color: var(--secondary-color);
}

.learnMoreAbout{
    color: var(--font-color);
}

.learnMoreAbout:hover{
    color: var(--secondary-color);
}

.welcomeTitle{
    margin: 0;
    text-align: left;
    font-size: 58px;
    margin-bottom: 40px;
}

.join{
    margin: 5px auto 0px auto;
    font-size: 30px;
}

.subtext{
    margin: 0 auto;
    font-size: 20px;
}

.rights{
    background-color: var(--primary-faded-color);
    padding: 10px;
    text-align: center;
    font-size: small;
    margin: 0;
}

.footerText{
    margin: 0;
}

footer{
    margin-top: 50px;
    position: relative;
    z-index: 90;
    box-shadow: var(--shadow);
}

.about{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    overflow-x: visible;
}

.benefits{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 50;
    overflow-x: visible;
}

.benefit{
    width: 300px;
    height: 350px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    perspective: 1000px; /* Set the perspective for 3D effect */
    cursor: pointer;
    padding: 20px;
    overflow-x: visible;
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 0.5s ease; /* Smooth transition for opacity */
}

.benefit.visible{
    opacity: 1;
}

.menuButton{
    color: var(--font-color);
    position: relative;
}

.benefitTitle,
.benefitDes {
    background-color: var(--secondary-color);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Hide the backface of the card */
    transform-origin: center; /* Set the rotation axis to the center of the card */
    border-radius: 20px;
    transition: transform 0.4s ease-out; /* Add a smooth transition */
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.benefitTitle {
    transform: rotateY(0deg); /* Initially visible side */
}

.benefitDes {
    transform: rotateY(-180deg); /* Initially hidden side */
}

.benefit.flipped .benefitTitle {
    transform: rotateY(180deg);
}

.benefit.flipped .benefitDes {
    transform: rotateY(0deg);
}

.benefit:not(.flipped):hover .benefitTitle {
    transform: rotateY(180deg);
}

.benefit:not(.flipped):hover .benefitDes {
    transform: rotateY(0deg);
}

.teamTitle{
    margin: 0 auto;
    text-align: center;
    font-size: 58px;
}

.sectionTitle{
    font-family:'Lucida Sans';
    margin: 10px auto;
    text-align: center;
}

.underline{
    max-width: 600px;
    width: 80%;
}

.members{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.member{
    text-align: center;
    width: 300px;
    height: 375px;
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 0.5s ease; /* Smooth transition for opacity */
}

.member.visible{
    opacity: 1;
}

.memberIMG{
    margin: 10px auto;
    padding: 10px;
    width: 200px;
    aspect-ratio: 1;
    background-color: var(--imagePlaceholder);
    border-radius: 150px;
}

.memberName{
    margin: 0px;
    font-size: 22px;
    font-weight: 900;
}

.memberTitle{
    margin: 0px;
    font-size: 16px;
    font-style: italic;
    font-weight: 200;
    margin-bottom: 50px;
}

.admin{
    margin-bottom: 75px;
}

p{
    font-size: 18px;
}